@use "../../foundation/mixin/f-flex" as flex;
@use "../../foundation/base/f-font-family" as font;

.blogslug{
    width: 100%;
    padding: 5rem 3% 0 3%;
    @include flex.flex($align-items:flex-start,$gap:5rem);
    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20% 5rem 5%;
    }
    &__main{
        width: 50%;
        padding-top: 4%;
        @media screen and (max-width: 768px) {
            width: 100%;
        }
        &--kv{
            width: 100%;
            height: 55rem;
            img{
                width: 100%;
                height: 100%;
                border-radius: 1rem;
            }
        }
        h1{
            margin-top: 5rem;
            @include font.font-roboto-bold($fontsize:4rem);
            @media screen and (max-width: 768px) {
                font-size: 6rem;
            }
        }
        .blogslug_main-cate-day-box-sp{
            display: contents;
            @media screen and (max-width: 768px) {
                @include flex.flex($justify-content:flex-start,$gap:3rem);
                width: 100%;
            }
        }
        &--cate{
            @include font.font-Notosan-Regular($fontsize:1.4rem);
            border: 1px solid rgb(226, 43, 211);
            color: rgb(226, 43, 211);
            width: 11rem;
            padding: 0.2rem 0 ;
            margin-top: 1rem;
            @include flex.flex();
            @media screen and (max-width: 768px) {
                width: 22rem;
                font-size: 3.4rem;
                padding: 1.5rem;
            }
        }
        &--day{
            @include font.font-Notosan-Medium($fontsize:1.4rem);
            @include flex.flex($justify-content:flex-start,$gap:0.5rem);
            color: #6b6a6a;
            margin-top: 1rem;
            @media screen and (max-width: 768px) {
                gap: 1rem;
                font-size: 3.5rem;
            }
            &--timeicon{
                width: 2rem;
                height: 2rem;
                @media screen and (max-width: 768px) {
                    width: 5rem;
                    height: 5rem;
                }
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            time{
                @media screen and (max-width: 768px) {
                    margin-bottom: 0.5rem;
                }
            }
        }
        &--post{
            width: 100%;
            margin: 5rem 0;
            .imgbox{
                width: 100%;
                height: auto;
                img{
                    width: 100%;
                }
            }
            h2{
                @include font.font-Oswald-Bold($fontsize:3rem);
                @include flex.flex($justify-content:flex-start);
                color: rgb(43, 44, 48);
                background-color: rgb(238, 238, 238);
                height: auto;
                padding: 2.5rem;
                margin: 2rem 0;
                border-radius: 0.5rem;
                @media screen and (max-width: 768px) {
                    font-size: 5rem;
                    letter-spacing: 0.1rem;
                    margin: 3rem 0;
                }
            }
            p{
                @include font.font-Notosan-Medium($fontsize:2.2rem,$lineHeight:4rem);
                color: rgb(43, 44, 48);
                @media screen and (max-width: 768px) {
                    font-size: 4rem;
                    letter-spacing: 0.1rem;
                    margin: 3rem 0;
                    line-height: 8rem;
                }
                .imgbox{
                    margin: 2rem 0;
                }
            }
            a{
                @include font.font-Notosan-Medium($fontsize:2.2rem,$lineHeight:4rem);
                color: rgb(43, 44, 48);
                text-decoration: underline;
                @media screen and (max-width: 768px) {
                    font-size: 4rem;
                    letter-spacing: 0.1rem;
                    margin: 3rem 0;
                    line-height: 8rem;
                }
            }
        }
    }
    .blogslug__subsp-block{
        display: contents;
        @media screen and (max-width: 768px) {
            display: block;
            width: 100%;
            height: auto;
            padding: 0 5rem;
            overflow-x: scroll;
        }
    }
    &__sub{
        width: 23%;
        height: 150vw;
        overflow-y: auto;
        @include flex.flex($align-items:flex-start,$justify-content:flex-start,$gap:0rem);
        flex-direction: column;
        padding-top: 4%;
        /*IE(Internet Explorer)・Microsoft Edgeへの対応*/
        -ms-overflow-style: none;
        /*Firefoxへの対応*/
        scrollbar-width: none;
        @media screen and (max-width: 768px) {
            // display: none;
            width: auto;
            height: auto;
            flex-direction: row;
            overflow-y: hidden;
            padding-top: 0%;
        }
        &::-webkit-scrollbar{
            display: none;
        }
        .Nblogs__cnt--box{
            &--blog-col{
                height: auto;
                padding: 0 5% 7%;
                flex-direction: column;
                background: #ffffff00 ;
                box-shadow: 0px 0px 0px;
                gap: 0.7rem;
                @media screen and (max-width: 768px) {
                    width: 80rem;
                    height: 60rem;
                    padding: 0% 10rem 0 0;
                    justify-content: flex-start;
                }
                &:hover{
                    transform: scale(1.05);
                    @media screen and (max-width: 768px) {
                        transform: scale(1);
                    }
                }
                .Nblogs-img{
                    width: 100%;
                    height: 24rem;
                    background: #FFFFFF 0% 0% no-repeat padding-box;
                    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1019607843);
                    border-radius: 1rem;
                    transition: 0.3s;
                    @media screen and (max-width: 768px) {
                        height: 37rem;
                    }
                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 1rem;
                    }
                }
                .Nblogs-text{
                    width: 100%;
                    height: auto;
                    &--day{
                        margin-bottom: 0.5rem;
                        font-size: 1.5rem;
                        @media screen and (max-width: 768px) {
                            font-size: 3.5rem;
                            margin-top: 2rem;
                            margin-bottom: 1rem;
                        }
                    }
                }
            }
            @media screen and (max-width: 768px) {
                width: auto;
                height: 100%;
            }
        }
    }
}