@use "../../../foundation/base/f-font-family" as font;
@use "../../../foundation/mixin/f-flex" as flex;
@use "../../../foundation/class-mixin/f-title" as title;

.contact{
    width: 100%;
    height: 53rem;
    margin-top: 20rem;
    @include flex.flex;
    &__cnt{
        gap: 2rem;
        width: 90%;
        height: 100%;
        @include flex.flex;
        &--img-box{
            width: 45%;
            height: 100%;
            position: relative;
            @include flex.flex;
            &--item-right{
                width: 40rem;
                height: 40rem;
                position: absolute;
                right: -4rem;
                bottom: -11rem;
                z-index: -1;
                &--img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            &--item-left{
                width: 40rem;
                height: 40rem;
                position: absolute;
                left: -4rem;
                top: -10rem;
                z-index: -1;
                &--img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            &--size{
                width: 40rem;
                height: 100%;
                @include flex.flex;
                &--img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
        .display-content{
            @include flex.flex($justify-content:flex-start);
            flex-direction: column;
            width: 45%;
            height: 100%;
            padding: 10rem 0;
            position: relative;
            .contact-title-box{
                width: 100%;
                @include flex.flex($justify-content:flex-start);
                &__text{
                    font-family: 'Kosugi Maru', sans-serif;
                    font-weight: 400;
                    line-height: 7rem;
                    font-size: 4.1rem;
                    text-align: left;
                }
            }
            .contact-cnt{
                @include flex.flex($align-items:flex-start);
                width: 100%;
                flex-direction: column;
                &__text-box{
                    @include flex.flex;
                    width: 90%;
                    margin: 3rem 0 6rem;
                    &--text{
                        font-family: 'Roboto', sans-serif;
                        font-weight: 500;
                        font-size: 2.3rem;
                        line-height: 5rem;
                        text-align: left;
                    }
                }
                &__button-cnt{
                    width: 90%;
                    @include flex.flex($justify-content:flex-start);
                    &--box{
                        width: 34rem;
                        height: 6rem;
                        background: linear-gradient(to right, #F8A300, #f0cf87);
                        border-radius: 3rem;
                        @include flex.flex;
                        &--text{
                            font-family: 'Kosugi Maru', sans-serif;
                            font-weight: 400;
                            color: white;
                            font-size: 2rem;
                        }
                    }
                }
            }
            .contact-item{
                width: 20rem;
                height: 20rem;
                position: absolute;
                bottom: -10rem;
                right: 9rem;
                z-index: -1;
                &__img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .contact{
        height: auto;
        margin-top: 35rem;
        &__cnt{
            flex-direction: column;
            gap: 6rem;
            position: relative;
            &--img-box{
                order: 2;
                &--item-right{
                    width: 60rem;
                    height: 60rem;
                    right: -30rem;
                    bottom: -18rem;
                    &--img{
                        width: 100%;
                        height: 100%;
                    }
                }
                &--item-left{
                    left: -35rem;
                    width: 60rem;
                    height: 60rem;
                    &--img{
                        width: 100%;
                        height: 100%;
                    }
                }
                &--size{
                    &--img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .display-content{
                display: contents;
                .contact-title-box{
                    order: 1;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &__text{
                        line-height: 10rem;
                        font-size: 5.5rem;
                        text-align: center;
                    }
                }
                .contact-cnt{
                    display: flex;
                    align-items: center;
                    order: 3;
                    &__text-box{
                        &--text{
                            line-height: 8rem;
                            font-size: 3.8rem;
                            text-align: left;
                        }
                    }
                    &__button-cnt{
                        width: 90%;
                        &--box{
                            width: 46rem;
                            height: 11rem;
                            border-radius: 5.3rem;
                            &--text{
                                font-size: 4.4rem;
                            }
                        }
                    }
                }
                .contact-item{
                    display: none;
                    &__img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}