@use '../../../foundation/class-mixin/f-title' as title;
@use '../../../foundation/mixin/f-flex' as flex;
@use '../../../foundation/base/f-font-family' as font;

.about{
    width: 100%;
    height: 57rem;
    margin-top: 22rem;
    @include flex.flex($gap:20px);
    &__img-box{
        width: 50%;
        height: 100%;
        position: relative;
        &--light{
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 10;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%) scale(0.7);
            &--img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                transform: scale(1.4);
            }
        }
        &--light-back{
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 5;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            &--img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                transform: scale(1.2);
            }
        }
    }
    &__text-box{
        width: 50%;
        height: 100%;
        padding-left: 5rem;
        flex-direction: column;
        @include flex.flex($justify-content:space-between,$gap:0rem,$align-items: flex-start);
        &--title{
            width: auto;
            white-space: nowrap;
            @include font.font-kosugimaru-regular($fontsize:4.2rem,$lineHeight:6rem);
            color: black;
            text-align: -webkit-center;
            transform: translateX(-2.3rem);
        }
        &--text{
            width: auto;
            @include font.font-roboto-regular($fontsize:2.3rem,$lineHeight:5.5rem);
        }
        &--button{
            width: 35rem;
            height: 7rem;
            background: linear-gradient(to right, #F8A300, #F4CF7D);;
            border-radius: 5.3rem;
            text-align: center;
            @include font.font-kosugimaru-regular($fontsize:2.1rem,$color:white,);
        }
    }
}
@media screen and (max-width: 768px) {
    .about{
        height: auto;
        flex-direction: column;
        gap: 7rem;
        margin-top: 15rem;
        &__img-box{
            width: 100%;
            height: 50rem;
            &--light{
                &--img{
                    width: 100%;
                }
            }
            &--light-back{
                width: 50%;
                height: 100%;
                &--img{
                    width: 100%;
                    height: 100%;
                    transform: scale(1.5);
                }
            }
        }
        &__text-box{
            width: 100%;
            height: 100%;
            padding-right: 0;
            padding: 0 8rem;
            flex-direction: column;
            margin-top: 7rem;
            @include flex.flex($justify-content:center,$gap:7rem,$align-items: center);
            &--title{
                width: 100%;
                @include font.font-kosugimaru-regular($fontsize:5.3rem,$lineHeight:9rem);
                color: black;
                transform: translateX(-8px);
            }
            &--text{
                width: 100%;
                @include font.font-roboto-regular($fontsize:3.8rem,$lineHeight:7rem);
            }
            &--button{
                width: 46rem;
                height: 11rem;
                cursor: pointer;
                @include font.font-kosugimaru-regular($fontsize:4.4rem,$color:white,);
            }
        }
    }
}