@use "../../../../foundation/base/f-font-family" as font;
@use "../../../../foundation/mixin/f-flex" as flex;
@use "../../../../foundation/class-mixin/f-newcube" as newcube;
@use "../../../../foundation/class-mixin/f-newbutton" as newbutton;

.Nabout{
    width: 100vw;
    height: 149rem;
    margin: 0rem calc(50% - 50vw) 0;
    // padding: 0 8rem;
    background: rgba(145, 144, 144, 0.356);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    @media screen and (max-width: 768px) {
        padding: 0 6rem;
        height: auto;
    }
    &__news{
        width: 100%;
        height: 8rem;
        margin-top: 3.8rem;
        @include flex.flex();
        @media screen and (max-width: 768px) {
            position: absolute;
            top: -10%;
            left: 50%;
            height: 15rem;
            transform: translate(-50%,0%);
        }
        &--box{
            width: 60%;
            height: 100%;
            background-color: white;
            border-radius: 25rem;
            padding: 0 4rem;
            box-shadow: 0px 3px 6px #0000001A;
            @include flex.flex($justify-content:flex-start);
            @media screen and (max-width: 768px) {
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 1rem;
                width: 90%;
                position: relative;
                padding: 0 8rem;
            }
            .Nabout-day{
                margin-right: 2rem;
                color: #4E4E4E;
                @include font.font-Oswald-Medium();
                @media screen and (max-width: 768px) {
                    font-size: 3.4rem;
                }
            }
            .Nabout-text{
                color: #4E4E4E;
                @include font.font-Notosan-Regular();
                @media screen and (max-width: 768px) {
                    font-size: 3.4rem;
                }
            }
            .Nabout-view-more{
                color: #131311;
                margin-left: auto;
                @include font.font-Notosan-Bold();
                @media screen and (max-width: 768px) {
                    display: none;
                }
            }
        }
    }
    &__title{
        width: 100%;
        height: 6rem;
        margin-top: 9.5rem;
        @include flex.flex($justify-content:flex-start);
        flex-direction: column;
        &--cnt{
            width: 80%;
            height: 100%;
            @include flex.flex($justify-content:flex-start,$gap:1.2rem);
            @media screen and (max-width: 768px) {
                width: 100%;
            }
            h2{
                color: white;
                @include font.font-Oswald-Medium($fontsize:3rem);
                @media screen and (max-width: 768px) {
                    @include font.font-Oswald-Medium($fontsize:4rem);
                }
            }
            p{
                color: white;
                @include font.font-Notosan-Bold($fontsize:1.6rem);
            }
        }
        &--line{
            width: 80%;
            height: 100%;
            padding-top: 5px;
            @include flex.flex($justify-content:flex-start,$align-items:flex-start);
            @media screen and (max-width: 768px) {
                width: 100%;
            }
            span{
                display: block;
                width: 8rem;
                height: 2px;
                background: transparent linear-gradient(269deg, #FFFFFF 0%, #C348FA 100%) 0% 0% no-repeat padding-box;
                @media screen and (max-width: 768px) {
                    width: 16rem;
                }
            }
        }
    }
    &__resolution{
        width: 100%;
        height: auto;
        margin-top: 6rem;
        @include flex.flex($justify-content:center,$align-items:flex-start);
        &--box{
            width: 80%;
            height: 100%;
            @include flex.flex($justify-content:flex-start,$align-items:flex-start);
            @media screen and (max-width: 768px) {
                width: 100%;
            }
            &--text{
                color: white;
                text-shadow: 0px 6px 6px #0000001A;
                @include font.font-Oswald-Medium($fontsize:10rem,$letterSpacing:2px);
                span{
                    color: #ff50f0;
                }
            }
        }
    }
    &__cnt{
        width: 100%;
        height: auto;
        margin-top: 10rem;
        @include flex.flex($justify-content:center,$align-items:flex-start);
        &--box{
            width: 90%;
            height: 100%;
            @include flex.flex($justify-content:center,$align-items:center);
            @media screen and (max-width: 768px) {
                flex-direction: column;
                gap: 2rem;
            }
            &--cube{
                width: 50%;
                @include newcube.Newcube;
                @media screen and (max-width: 768px) {
                    width: 100%;
                    height: 50rem;
                    @include flex.flex();
                }
            }
            &--text{
                width: 50%;
                @media screen and (max-width: 768px) {
                    width: 100%;
                }
                p{
                    color: white;
                    @include font.font-Notosan-Medium($fontsize:2.4rem,$lineHeight:4.4rem,$letterSpacing:0.8px);
                    @media screen and (max-width: 768px) {
                        font-size: 4rem;
                        line-height: 6.4rem;
                    }
                    span{
                        @include font.font-Oswald-Bold($fontsize:2.4rem,$lineHeight:4.4rem,$letterSpacing:0.8px);
                        @media screen and (max-width: 768px) {
                            font-size: 4rem;
                        }
                    }
                }
            }
        }
    }
    &__contact{
        width: 100%;
        height: auto;
        margin-top: 10rem;
        margin-bottom: 20rem;
        @include flex.flex($justify-content:center,$align-items:flex-start);
        &--box{
            width: 90%;
            height: 100%;
            @include flex.flex($justify-content:center,$align-items:center);
            &--empty{
                width: 50%;
                @include newbutton.Newbutton;
                @media screen and (max-width: 768px) {
                    display: none;
                }
            }
            &--empty2{
                width: 50%;
                @include newbutton.Newbutton;
                @media screen and (max-width: 768px) {
                    width: 100%;
                }
            }
        }
    }
    @keyframes rotate-anim {
        0% {transform: rotateX(0) rotateY(0); }
        100% {transform: rotateX(-360deg) rotateY(360deg); }
    }
}