@use "../../../../foundation/base/f-font-family" as font;
@use "../../../../foundation/class-mixin/f-newtitle" as title;
@use "../../../../foundation/mixin/f-flex" as flex;
@use "../../../../foundation/class-mixin/f-newbutton2" as newbutton2;

.Nservice{
    width: 100vw;
    margin: 0rem calc(50% - 50vw) 0;
    background-color: #F5F5F5;
    @include flex.flex($justify-content:flex-start);
    flex-direction: column;
    &__title{
        width: auto;
        height: auto;
        margin-top: 13rem;
        @include title.newtitle();
    }
    &__cnt{
        width: 100%;
        height: auto;
        margin-top: 3rem;
        @include flex.flex();
        flex-direction: column;
        @media screen and (max-width: 768px) {
            gap: 6rem;
        }
        &--col{
            width: 90%;
            @include flex.flex($gap:2rem);
            @media screen and (max-width: 768px) {
                display: contents;
            }
            .fNservice{
                width: 50%;
                height: 40rem;
                margin-top: 2rem;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: 90%;
                background-color: #302F3D;
                @include flex.flex($align-items:flex-end);
                @media screen and (max-width: 768px) {
                    width: 90%;
                }
                &__text{
                    width: 70%;
                    margin-left: 2.4rem;
                    margin-bottom: 4rem;
                    @include flex.flex($gap:0.6rem,$justify-content:flex-start,$align-items:flex-start);
                    flex-direction: column;
                    span{
                        display: block;
                        color: #C348FA;
                        @include font.font-Oswald-SemiBold($fontsize:3rem);
                        @media screen and (max-width: 768px) {
                            font-size: 6rem;
                        }
                    }
                    h3{
                        color: white;
                        @include font.font-Oswald-SemiBold($fontsize:4rem);
                        @media screen and (max-width: 768px) {
                            font-size: 5rem;
                        }
                    }
                    p{
                        color: white;
                        @include font.font-Notosan-Bold($fontsize:1.6rem);
                        @media screen and (max-width: 768px) {
                            font-size: 2.5rem;
                        }
                    }
                }
                &__button{
                    width: 30%;
                    margin-bottom: 4rem;
                    margin-right: 4rem;
                    @include flex.flex($justify-content:flex-end);
                    button{
                        width: 6rem;
                        height: 6rem;
                        border: 3px solid #D16EFD;
                        border-radius: 3.8rem;
                        position: relative;
                        z-index: 1;
                        transition: 0.3s;
                        @media screen and (max-width: 768px) {
                            width: 12rem;
                            height: 12rem;
                            border: 2px solid #D16EFD;
                            background-color: #D16EFD;
                            border-radius: 6rem;
                        }
                    }
                    button:hover{
                        background-color: #D16EFD;
                        border: 2px solid white;
                        transition: 0.3s;
                    }
                    button::after{
                        content: ">";
                        color: #D16EFD;
                        position: absolute;
                        z-index: 10;
                        top: 50%;
                        left: 50%;
                        font-size: 2.5rem;
                        transform: translate(-50%,-50%);
                        transition: 0.3s;
                        @media screen and (max-width: 768px) {
                            font-size: 4rem;
                            color: white;
                        }
                    }
                    button:hover::after{
                        transition: 0.3s;
                        color: white;
                    }
                }
            }
            .NewService-img1{
                background-image: url(/assets/new-solvide-images/home-images/service-images/1service.png);
            }
            .NewService-img2{
                background-image: url(/assets/new-solvide-images/home-images/service-images/2service.png);
            }
            .NewService-img3{
                background-image: url(/assets/new-solvide-images/home-images/service-images/3service.png);
            }
            .NewService-img4{
                background-image: url(/assets/new-solvide-images/home-images/service-images/4service.png);
            }
        }
    }
    &__button{
        margin-top: 10rem;
        @include newbutton2.Newbutton2();
    }
}