@use "../../../../foundation/base/f-font-family" as font;
@use "../../../../foundation/class-mixin/f-newbutton" as newbutton;
@use "../../../../foundation/mixin/f-flex" as flex;

.NPkv{
    width: 100vw;
    height: 110vh;
    margin: 0rem calc(50% - 50vw) 0;
    padding-top: 13rem;
    &__title{
        width: 100%;
        color: white;
        padding-left: 5rem;
        @include flex.flex($justify-content:flex-start,$gap:2rem,$align-items:flex-end);
        @media screen and (max-width: 768px) {
            margin-top: 15rem;
        }
        h2{
            @include font.font-Oswald-SemiBold($fontsize:2.8rem);
            @media screen and (max-width: 768px) {
                font-size: 4rem;
            }
        }
        p{
            @include font.font-Oswald-SemiBold($fontsize:1.4rem);
            @media screen and (max-width: 768px) {
                font-size: 1.6rem;
            }
        }
    }
    &__content{
        width: 100%;
        padding: 8rem 14rem 0;
        @include flex.flex();
        @media screen and (max-width: 768px) {
            flex-direction: column;
            padding: 8rem 8rem 0;
        }
        &--text{
            order: 2;
            width: 50%;
            @media screen and (max-width: 768px) {
                display: contents;
            }
            .NPkv-sub-title{
                width: 100%;
                @include flex.flex($align-items:flex-start,$justify-content:flex-start,$gap:1rem);
                flex-direction: column;
                color: white;
                @media screen and (max-width: 768px) {
                    order: 1;
                }
                h2{
                    @include font.font-Oswald-SemiBold($fontsize:6rem);
                }
                p{
                    @include font.font-Notosan-Bold($fontsize:1.6rem);
                }
                div{
                    width: 8.3rem;
                    height: 3px;
                    background: transparent linear-gradient(269deg, #FFFFFF 0%, #C348FA 100%) 0% 0% no-repeat padding-box;
                }
            }
            .NPkv-sub-text{
                width: 100%;
                @include flex.flex($align-items:flex-start,$justify-content:flex-start,$gap:3rem);
                flex-direction: column;
                color: white;
                @media screen and (max-width: 768px) {
                    order: 3;
                }
                p{
                    @include font.font-Notosan-Medium($fontsize:2.2rem,$lineHeight:5.6rem,$letterSpacing:0.7px);
                }
            }
        }
        &--ball{
            order: 2;
            width: 50%;
            height: 100%;
            @include flex.flex();
            @media screen and (max-width: 768px) {
                width: 100%;
            }
            div{
                width: 50rem;
                height: 50rem;
                border-radius: 50%;
                background: transparent radial-gradient(closest-side at 50% 50%, #B47AF7 0%, #9248F5 100%, #A354F1 100%) 0% 0% no-repeat padding-box;
                @include flex.flex();
                p{
                    color: white;
                    @include font.font-Oswald-SemiBold($fontsize:7rem);
                }
            }
        }
    }
    &::after{
        content: '';
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0%;
        left: 0%;
        z-index: -1;
        background: transparent linear-gradient(126deg, #8524D9 0%, #C348FA 23%, #31C4E6 100%) 0% 0% no-repeat padding-box;
    }
}