@use "../../../../foundation/base/f-font-family" as font;
@use "../../../../foundation/class-mixin/f-newtitle" as title;
@use "../../../../foundation/mixin/f-flex" as flex;

.NserviceKV{
    width: 100vw;
    height: 90rem;
    margin: 0rem calc(50% - 50vw) 0;
    padding: 0 8rem;
    position: relative;
    @include flex.flex($justify-content:flex-start);
    flex-direction: column;
    z-index: 2;
    @media screen and (max-width: 768px) {
        height: auto;
    }
    &__title{
        width: 99%;
        height: auto;
        margin-top: 16rem;
        position: relative;
        z-index: 2;
        @include flex.flex($justify-content:flex-start);
        @include title.newtitle($justfit:flex-start,$aligin:flex-start);
        @media screen and (max-width: 768px) {
            width: 100%;
            order: 1;
        }
    }
    &__content{
        width: 100%;
        height: 100%;
        margin-top: 5rem;
        position: relative;
        z-index: 2;
        @include flex.flex($align-items:flex-start,$justify-content:flex-end);
        @media screen and (max-width: 768px) {
            order: 3;
            justify-content: flex-start;
        }
        &--text{
            width:75%;
            height: 100%;
            @media screen and (max-width: 768px) {
                width: 100%;
                height: auto;
            }
            h2{
                @include font.font-Oswald-SemiBold($fontsize:8.8rem,$letterSpacing:3.5px);
                background-image: linear-gradient(to right, gray, rgb(153, 0, 255), gray, rgb(153, 0, 255), gray);
                background-size: 500%;
                animation: color-change 6s linear infinite;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                @media screen and (max-width: 768px) {
                    font-size: 6.8rem;
                }
            }
            h3{
                margin-top: 2rem;
                @include font.font-Notosan-Bold($fontsize:4rem);
                span{
                    color: #C348FA;
                }
            }
            p{
                width: 73rem;
                margin-top: 2rem;
                @include font.font-Notosan-Medium($fontsize:2rem,$lineHeight:4rem);
            }
        }
    }
    &__nav{
        top: 40%;
        left: 5%;
        position: fixed;
        z-index: 999;
        z-index: 2;
        @media screen and (max-width: 768px) {
            position: inherit;
            order: 2;
            width: 100%;
        }
        &--list{
            @include flex.flex($justify-content:flex-start,$align-items:flex-start,$gap:3rem);
            flex-direction: column;
            @media screen and (max-width: 768px) {
                flex-direction: row;
                width: 100%;
                gap: 7rem;
            }
            li{
                list-style: circle;
                @include font.font-Notosan-Bold($fontsize:2rem);
                transition: 0.3s;
                &:hover{
                    transform: scale(1.1);
                    color: #C348FA;
                    cursor: pointer;
                }
            }
        }
    }
    &::after{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 1;
        background-color: #F5F5F5;
        clip-path: polygon(70% 0%, 100% 60%, 100% 100%, 0 100%, 0 0%);
    }
    &::before{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -3;
        animation: backcolor 3s infinite;
        animation-direction: alternate-reverse;
    }
}
@keyframes backcolor {
    0% {
        background-color: #8524D9;
    }
    50% {
        background-color: #C348FA;
    }
    100% {
        background-color: #31C4E6;
    }
}
@keyframes color-change {
    0% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 0% 50%;
    }
}