@use "../../foundation/base/f-font-family" as font;
@use "../../foundation/class-mixin/f-newbutton" as newbutton;
@use "../../foundation/mixin/f-flex" as flex;

.Newheader{
    width: 100%;
    height: 9rem;
    top: 0%;
    left: 0%;
    position: fixed;
    z-index: 999;
    @include flex.flex();
    @media screen and (max-width: 768px) {
        height: 15rem;
    }
    &__cnt{
        width: 100%;
        height: 100%;
        padding: 0 5rem 0 0;
        position: relative;
        background-color: white;
        box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1607843137);
        @include flex.flex();
        @media screen and (max-width: 768px) {
            padding: 0 0 0 0;
            justify-content: space-between;
        }
        &--box{
            width: 100%;
            padding: 0 3rem 0 6rem;
            @include flex.flex($justify-content:space-between);
            @media screen and (max-width: 768px) {
                width: auto;
                position: relative;
                z-index: 999;
                padding: 0 16rem 0 2rem;
            }
            &--title{
                .title-box{
                    display: block;
                    width: 19rem;
                    height: 4rem;
                    @media screen and (max-width: 768px) {
                        width: 33rem;
                        height: 7rem;
                        position: relative;
                        z-index: 999;
                    }
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            &--contact{
                @include flex.flex($gap:8px);
                @media screen and (max-width: 768px) {
                    display: none;
                }
                img{
                    width: 3rem;
                    height: 3rem;
                }
                .contact-text{
                    color: rgb(44, 44, 44);
                    @include font.font-Notosan-Bold($fontsize:2rem);
                }
            }
        }
        &--nav{
            right: 9%;
            top: 50%;
            transform: translate(0%,-50%);
            position: absolute;
            height: 7rem;
            width: 7rem;
            // width: 100rem;
            border-radius: 50px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 4px 10px #00000029;
            z-index: 10;
            transition: 0.2s;
            @include flex.flex($justify-content:space-between);
            @media screen and (max-width: 768px) {
                right: 30%;
                width: 11rem;
                height: 11rem;
                transition: width 0.2s, right 0.2s,;
            }
            .Newnav-list{
                color: white;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                white-space: nowrap;
                opacity: 0;
                pointer-events: none;
                @include font.font-Notosan-Bold($fontsize:2rem);
            }
        }
        &--button{
            right: 50%;
            top: 50%;
            transform: translate(40%,-50%);
            position: absolute;
            height: 3rem;
            width: 3rem;
            @include flex.flex();
            z-index: 10;
            @media screen and (max-width: 768px) {
                transform: translate(-16%, -50%);
                height: 5rem;
                width: 5rem;
            }
            .Newheader-spanbox{
                width: 100%;
                height: 100%;
                flex-direction: column;
                @include flex.flex($justify-content:space-around,$align-items:center);
                position: relative;
                span{
                    width: 3rem;
                    height: 2px;
                    display: block;
                    transition: 0.2s;
                    transform-origin:center;
                    background: transparent linear-gradient(93deg, #8524D9 0%, #C348FA 23%, #31C4E6 100%) 0% 0% no-repeat padding-box;
                    @media screen and (max-width: 768px) {
                        width: 5rem;
                        height: 1px;
                    }
                }
            }
        }
        //768以上のhover
        @media screen and (min-width: 768px) {
            .New-nav-hover{
                height: 8rem;
                width: 8rem;
                position: relative;
                &:hover{
                    .Newheader__cnt--nav{
                        transition: 0.2s;
                        width: 100rem;
                        // border-radius: 35px;
                        padding: 0 10rem 0 5rem;
                        .Newnav-list{
                            color: black;
                            opacity: 1;
                            position: static;
                            transform: translate(0,0);
                            pointer-events: all;
                            transition: 0.4s;
                        }
                    }
                    .Newheader__cnt--button{
                        .Newheader-spanbox{
                            span{
                                position: absolute;
                                top: 50%;
                                left: 0%;
                                transform: translate(-50%,-50%);
                            }
                            .span1{
                                transform: rotate(44deg);
                            }
                            .span2{
                                width: 0%;
                                opacity: 0;
                            }
                            .span3{
                                transform: rotate(-44deg);
                            }
                        }
                    }
                }
            }
        }
        //768以下のhover
        @media screen and (max-width: 768px) {
            .New-nav-hover {
                width: 11rem;
                height: 11rem;
                position: relative;
            }
            .New-nav-hover.funk{
                width: 100%;
                height: 11rem;
                position: absolute;
                z-index: 998;
                .Newheader__cnt--nav.funk{
                    width: 100%;
                    height: 110svh;
                    top: 50%;
                    right: 50%;
                    transform: translate(50%, -10%);
                    border-radius: 0%;
                    background-color: #434343;
                    z-index: 996;
                    padding-top: 50rem;
                    padding-left: 15rem;
                    @include flex.flex($align-items:flex-start,$gap:5rem,$justify-content:flex-start);
                    flex-direction: column;
                    .Newnav-list{
                        z-index: 999;
                        opacity: 1;
                        font-size: 4rem;
                        position: relative;
                        width: 90%;
                        top: 0%;
                        left: 0;
                        transform: translate(0);
                        @include flex.flex($align-items:flex-start);
                        flex-direction: column;
                        pointer-events: all;
                        &::after{
                            content: "";
                            width: 100%;
                            height: 1px;
                            margin-top: 5rem;
                            background-color: white;
                        }
                    }
                }
                .Newheader__cnt--button.funk{
                    right: 2%;
                    height: 11rem;
                    width: 11rem;
                    border: 1px solid #8524D9;
                    z-index: 997;
                    border-image: linear-gradient(to bottom, #8524D9 0%, #C348FA 100%) 1;
                    .Newheader-spanbox {
                        span {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                        }
                
                        .span1 {
                            transform: translate(-50%, -50%) rotate(44deg);
                        }
                
                        .span2 {
                            width: 0%;
                            opacity: 0;
                        }
                
                        .span3 {
                            transform: translate(-50%, -50%) rotate(-44deg);
                        }
                    }
                }
            }
        }
    }
}